.onlin {
    padding-left: 80px;
    padding-right: 80px;
}
.top {
    color: rgb(165, 165, 165);
    font-size: 12.5px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 32px;
}
.min {
    list-style: none;

}
.min li a {
    text-decoration: none;
    color: rgb(127, 127, 127);
    font-size: 12px;
    /* margin-left: 0px; */
}
.min li :hover {
    color: white;
}


.mybook {
    display: flex;
    padding: 0px 24px 20px;
    font-size: 11px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(49, 48, 53);;
}
.sh {
    padding: 0px;
    margin: 0px;
    flex-basis: auto;
    width: 100%;
}
.app {
    display: inline-block;
    margin-right: 10px;
    width: 37px;
    height: 37px;
}
.app svg {
    fill: rgb(93, 93, 95);
}
.app svg a:hover{
    color: white;
}
a {
    background: #0000;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: initial;
}
.mainapp {
    text-align: center;
}
.show {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 125px;
}
/* .sho {
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
} */
.line {
    padding: 0px 670px;
}
.copy {
    padding: 30px;
    font-size: 11px;
    color: rgb(102, 102, 102);
    text-align: center;
    cursor: default;
}
