.mnsinhyd {
    padding-left: 150px;
    padding-right: 90px;
}

.top {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin-top: 25px;
    /* margin-left: 0px; */
    color: rgb(165, 165, 165);
}

.min {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   margin-left: -39px;
   margin-top: 18px;

}

.min li a {
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
   
}

.min li :hover {
    color: white;
}

.thor {
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    cursor: pointer;
    
}

.bkmyshow {
    display: flex;
    padding: 0px 24px 20px;
    font-size: 11px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(49, 48, 53);
}

.myshow {
    padding: 0px;
    margin: 0px;
    flex-basis: auto;
    width: 100%;
}

.bshow {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 125px;
}

.shw {
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}

.bmig {
    padding: 0px 20px;
}

embed,
img,
object {
    max-width: 100%;
}

img {
    /* border: 0; */
    color: #999;
    /* font-size: 12px; */
}

.bmicon {
    text-align: center;
}

.myapps {
    display: inline-block;
    margin-right: 10px;
    width: 37px;
    height: 37px;
}

.myapps svg {
    fill: rgb(93, 93, 95);
}

.myapps svg:hover {
    color: #fff;
}

.copyryt {
    padding: 30px;
    font-size: 11px;
    color: rgb(102, 102, 102);
    text-align: center;
}

