<div class="container">
    <h6 class="top"> TOP MOVIES TO WATCH ONLINE</h6>
    <ul class="min">
        <li><a href="#"> Minions </a> <a> | </a> <a href="#">Paw Patrol: The Movie </a> <a> | </a> <a href="#">
                Batman: The Long
                Halloween Part 1 </a> <a> | </a> <a href="#"> 47 Dhanushk Bhawan </a> <a> | </a> <a href="#"> A
                Mighty Heart </a> <a> | </a> <a href="#"> Ouija</a> <a>| </a> <a href="#"> Isn't It Romantic</a> <a>
                | </a> <a href="#"> The Boss
                Baby: Family Business</a> <a> | </a> <a href="#"> Eyes Of Laura Mars</a> <a> | </a> <a href="#"> The
                Great Indian Kitchen</a> <a> | </a> <a href="#"> A Few Good Men</a> <a> | </a> <a href="#"> Street
                Fighter: Assassin's
                Fist</a> <a> | </a> <a href="#"> Enter The Dragon</a> <a> | </a> <a href="#"> Deya
                Neya</a> <a> | </a> <a href="#">
                Shrek Forever After</a> <a> | </a> <a href="#"> Insidious: Chapter 3</a> <a> | </a> <a href="#">
                passengers</a> <a> | </a> <a href="#"> Hum Hai Rahi Pyar Ke</a> <a> | </a> <a href="#"> Sesh
                Chithi</a> <a> | </a> <a href="#"> Naan
                kadavul</a></li>
    </ul>
    <h6 class="top"> TOP ONLINE PREMIERE MOVIES </h6>
    <ul class="min">
        <li><a href="#"> Minions </a> <a> | </a> <a href="#">Paw Patrol: The Movie </a> <a> | </a> <a href="#">
                Batman: The Long
                Halloween Part 1 </a> <a> | </a> <a href="#"> 47 Dhanushk Bhawan </a> <a> | </a> <a href="#"> A
                Mighty Heart </a> <a> | </a> <a href="#"> Ouija</a> <a> | </a> <a href="#"> Isn't It Romantic</a>
            <a> | </a> <a href="#"> The Boss
                Baby: Family Business</a> <a> | </a> <a href="#"> Eyes Of Laura Mars</a> <a> | </a> <a href="#"> The
                Great Indian Kitchen</a> <a> | </a> <a href="#"> A Few Good Men</a> <a> | </a> <a href="#"> Street
                Fighter: Assassin's
                Fist</a> <a> | </a> <a href="#"> Enter The Dragon</a> <a> | </a> <a href="#"> Deya
                Neya</a> <a> | </a> <a href="#">
                Shrek Forever After</a> <a> | </a> <a href="#"> Insidious: Chapter 3</a> <a> | </a> <a href="#">
                passengers</a> <a> | </a> <a href="#"> Hum Hai Rahi Pyar Ke</a> <a> | </a> <a href="#"> Sesh
                Chithi</a> <a> | </a> <a href="#"> Naan
                kadavul</a>
        </li>
    </ul>
    <h6 class="top"> MOVIE RELEASING SOON ON STREAM </h6>
    <ul class="min">
        <li><a href="#"> American Refugee </a> <a> | </a> <a href="#"> Minamata </a> <a> | </a> <a href="#"> All
                Aboard </a> <a> | </a> <a href="#"> Run & Gun </a> </li>
    </ul>
    <h6 class="top"> TOP ONLINE EXCLUSIVE MOVIES </h6>
    <ul class="min">
        <li><a href="#"> Fear Of Rain </a> <a> | </a> <a href="#"> Hexing </a> <a> | </a> <a href="#"> The Tunnel
            </a> <a> | </a> <a href="#"> The Comeback Trail </a> <a> | </a>
            <a href="#"> Hotel Coppelia </a> <a> | </a> <a href="#"> 32 Malasana Street </a> <a> | </a> <a href="#">
                Dedh Gaanth </a> <a> | </a> <a href="#"> Trash
            </a> <a> | </a> <a href="#"> Scumbag </a> <a> | </a> <a href="#"> To The Stars
            </a> <a> | </a> <a href="#"> Daniel </a> <a> | </a> <a href="#"> Gatecrash
            </a> <a> | </a> <a href="#"> The Spacewalker </a> <a> | </a> <a href="#"> Shorta </a> <a> | </a> <a
                href="#">
                Proximity </a> <a> | </a> <a href="#"> One For All
            </a> <a> | </a> <a href="#"> Night Drive </a> <a> | </a> <a href="#"> The People Upstairs </a> <a> |
            </a> <a href="#"> Dominika </a> <a> | </a> <a href="#"> In Reality
            </a>
        </li>
    </ul>
    <h6 class="top"> ONLINE BUNDLES </h6>
    <ul class="min">
        <li><a href="#">Online Streaming Online Movies </a> <a> | </a> <a href="#"> Recent Premieres Online
                Movies
            </a> <a> | </a>
            <a href="#"> Premieres Online Movies
            </a> <a> | </a> <a href="#"> Rediscover Indian Cinema Online Movies </a> <a> | </a> <a href="#">
                Recommended Online Movies </a> <a> | </a> <a href="#"> Archives Online Movies </a> <a> | </a>
            <a href="#"> Blockbusters Online Movies
            </a> <a> | </a> <a href="#"> Flash Buy Online Movies </a> <a> | </a> <a href="#"> Holiday Season
                Offer-
                50% Off Online Movies </a> <a> | </a> <a href="#"> Recently Added Online Movies </a> <a> | </a>
            <a href="#"> 60% off on selected titles Online Movies
            </a><a href="#"> Missed in Theatres Online Movies </a> <a> | </a> <a href="#"> Movies in Dubbed
                Language
                Online Movies </a> <a> | </a> <a href="#"> Regional Cinema @ 70% Discount Online Movies </a> <a>
                |
            </a> <a href="#"> Stream 1st Anniversary Online Movies </a>
            <a> | </a>
            <a href="#"> STREAM Diwali Delight Offer Online Movies </a> <a> | </a> <a href="#"> Oscars
                collection
                Online Movies </a> <a> | </a> <a href="#"> Award Winning Movies Online Movies </a> <a> | </a> <a
                href="#"> All Time Favourites Online Movies
            </a> <a> | </a> <a href="#"> Dubbed Movies @ 50% Discount Online Movies </a> <a> | </a> <a href="#">
                Spotlight Online Movies </a> <a> | </a> <a href="#"> Family films Online Movies </a> <a> | </a>
            <a href="#"> Get Spooked Online Movies
            </a> <a> | </a> <a href="#"> On Discount Online Movies </a> <a> | </a> <a href="#"> Exclusives
                Online
                Movies </a> <a> | </a> <a href="#"> Flashback - Holly.wood 80s 90s Online Movies </a> <a> | </a>
            <a href="#"> Charlie Chaplin Keystone Collection Online Movies
            </a> <a> | </a> <a href="#"> Around the World Online Movies </a> <a> | </a> <a href="#"> Own a title
                @
                Rs 89 Online Movies </a> <a> | </a> <a href="#"> DC FanDome Online Movies </a> <a> | </a>
            <a href="#"> World Cinema Online Movies
            </a> <a> | </a> <a href="#">Flashback - 80s 90s Online Movies </a> <a> | </a> <a href="#"> Evergreen
                Comedies Online Movies </a> <a> | </a> <a href="#"> Best of Bengali Movies Online Movies </a>
            <a> | </a>
            <a href="#"> The Batman Chronicles Online Movies </a> <a> | </a> <a href="#"> Premium Movies on
                Discount
                Online Movies </a> <a> | </a> <a href="#"> Creature Films Online Movies </a> <a> | </a> <a href="#">
                Animated Online Movies
            </a> <a> | </a> <a href="#"> Courtroom Dramas Online Movies </a> <a> | </a> <a href="#"> Oscar
                Collectibles Online Movies </a> <a> | </a> <a href="#"> From 800k To Film Online Movies </a> <a>
                |
            </a>
            <a href="#"> Serial Killer Films Online Movies
            </a> <a> | </a> <a href="#"> Ladies In Action Online Movies </a> <a> | </a> <a href="#"> Rom.Com
                Movies
                Online Movies </a> <a> | </a> <a href="#"> Maycation Online Movies </a> <a> | </a>
            <a href="#"> Raining Blockbusters Online Movies
            </a> <a> | </a> <a href="#"> Best of Regional Cinema Online Movies </a> <a> | </a> <a href="#">
                Celebrating Wizarding World Anniversary Online Movies </a> <a> | </a> <a href="#"> Valentines
                day
                special Online Movies </a> <a> | </a>
            <a href="#"> Fun Galore Online Movies
            </a>
        </li>
    </ul>
    <h6 class="top"> ONLINE MOVIES BY LANGUAGE </h6>
    <ul class="min">
        <li><a href="#">Online Movies in Nepali </a> <a> | </a> <a href="#"> Online Movies in Tulu </a> <a> | </a>
            <a href="#"> Online
                Movies in Japanese </a> <a> | </a>
            <a href="#"> Online Movies in Portuguese
            </a> <a> | </a> <a href="#"> Online Movies in Chattisgarhi </a> <a> | </a> <a href="#"> Online
                Movies in Konkani </a> <a> | </a> <a href="#"> Online Movies in Rajasthani </a> <a> | </a>
            <a href="#"> Online Movies in Khasi </a> <a> | </a> <a href="#"> Online Movies in Assamese </a> <a>
                | </a> <a href="#"> Online Movies in Kannadal </a> <a> | </a> <a href="#"> Online Movies in
                Tamil
            </a>
            <a> | </a>
            <a href="#"> Online Movies in Malayalam </a> <a> | </a> <a href="#"> Online Movies in 8hojpuri </a>
            <a> | </a> <a href="#"> Online Movies in Telugu </a> <a> | </a> <a href="#"> Online Movies in French
            </a> <a> | </a> <a href="#"> Online Movies in Haryanavi </a> <a> | </a> <a href="#"> Online Movies
                in Sindhi </a> <a> | </a> <a href="#"> Online Movies in Bengali </a> <a> | </a>
            <a href="#"> Online Movies in English 7D
            </a> <a> | </a> <a href="#"> Online Movies in Punjabi </a> <a> | </a> <a href="#"> Online Movies in
                English </a> <a> | </a> <a href="#"> Online Movies in Oriya </a> <a> | </a>
            <a href="#"> Online Movies in Spanish
            </a> <a> | </a> <a href="#"> Online Movies in Urdu </a> <a> | </a> <a href="#"> Online Movies in
                Marathi </a> <a> | </a> <a href="#"> Online Movies in Hindi </a> <a> | </a>
            <a href="#"> Online Movies in Gujarat
            </a>
        </li>
    </ul>
    <h6 class="top"> ONLINE MOVIES BY GENRE </h6>
    <ul class="min">
        <li><a href="#">Drama Online Movies </a> <a> | </a> <a href="#"> Action Online Movies </a> <a> | </a> <a
                href="#"> Comedy Online Movies </a> <a> | </a> <a href="#"> Thriller Online Movies </a> <a> | </a>
            <a href="#"> Adventure Online Movies </a> <a> | </a> <a href="#"> Crime Online Movies </a> <a> | </a> <a
                href="#"> Romantic Online Movies </a> <a> | </a> <a href="#"> Horror Online Movies
            </a> <a> | </a> <a href="#"> Sci-Fi
                Online Movies </a> <a> | </a> <a href="#"> Mystery Online movies </a> <a> | </a> <a href="#">
            </a> <a> |
            </a> <a href="#"> Biography Online Movies </a> <a> | </a> <a href="#"> Animation Online Movies </a> <a>
                | </a> <a href="#">
                Fantasy Online Movies </a> <a> | </a>

            <a> | </a> <a href="#"> Musical Online Movies </a> <a> | </a> <a href="#"> Classic Online Movies
            </a> <a> | </a> <a href="#"> Historical Online Movies </a>
            <a> | </a>
            <a href="#"> Suspense Online Movies </a> <a> | </a> <a href="#"> Sports Online Movies </a> <a> |
            </a> <a href="#"> War Online Movies </a> <a> | </a> <a href="#"> Heist Online Movies
            </a> <a> | </a> <a href="#"> Political Online Movies </a> <a> | </a> <a href="#"> Period Online
                Movies </a> <a> | </a> <a href="#"> Psychological Online Movies </a> <a> | </a>
            <a href="#"> Supernatural Online Movies
            </a> <a> | </a> <a href="#"> Devotional Online Movies </a> <a> | </a> <a href="#"> Mythological
                Online Movies </a> <a> | </a> <a href="#"> Bollywood Online Movies </a> <a> | </a>
            <a href="#"> Tragedy Online Movies
            </a> <a> | </a> <a href="#"> Adaptation Online Movies </a> <a> | </a> <a href="#"> Adult Online
                Movies </a> <a> | </a> <a href="#"> Noir Online Movies </a> <a> | </a>
            <a href="#"> Anime Online Movies
            </a>
        </li>
    </ul>
    <h6 class="top"> COUNTRIES</h6>
    <ul class="min">
        <li><a href="#"> Indonesia </a> <a> | </a> <a href="#"> Singapore </a> <a> | </a> <a href="#"> UAE </a> <a>
                | </a> <a href="#"> Sri Lanka </a>
            <a> | </a> <a href="#"> West Indies </a>
        </li>
    </ul>
    <h6 class="top"> HELP </h6>
    <ul class="min">
        <li><a href="#"> About Us </a> <a> | </a> <a href="#"> Contact Us </a> <a> | </a> <a href="#"> Current
                Openings </a> <a> | </a> <a href="#"> Press Reference </a>
            <a> | </a>
            <a href="#"> Press Coverage </a> <a> | </a> <a href="#"> Sitemap </a> <a> | </a> <a href="#"> FAQs </a>
            <a> | </a> <a href="#"> Terms and Condition
            </a> <a> | </a> <a href="#"> Privacy policy </a>
        </li>
    </ul>
    <h6 class="top"> BOOKMYSHOW EXCLUSIVES </h6>
    <ul class="min">
        <li><a href="#"> Superstar </a> <a> | </a> <a href="#"> BookASmile </a> <a> | </a> <a href="#"> Corporate
                Vouchers </a> <a> | </a> <a href="#"> Gift Cards </a>
            <a> | </a>
            <a href="#"> List My Show </a> <a> | </a> <a href="#"> Offers </a> <a> | </a> <a href="#"> Stream </a>
            <a> | </a> <a href="#"> Buzz
            </a> <a> | </a> <a href="#"> Trailers </a>
        </li>
    </ul>
</div>

<div class="mybook">
    <div direction="column" class="sh">
        <div class="show">
            <div class="sho"></div><a href="/" class="line"><img alt="bookmyshow"
                    src="//in.bmscdn.com/webin/common/icons/logo.svg"></a>
            <div class="sho"></div>
        </div>
        <div class="mainapp"><a href="https://www.facebook.com/BookMyShowIN" class="app"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 98 98">
                    <path
                        d="M48 .5C21.8.5.5 21.8.5 48S21.8 95.5 48 95.5 95.5 74.2 95.5 48 74.2.5 48 .5zm11.8 49.2h-7.7v27.5H40.6V49.7h-5.4V40h5.4v-6.3c0-4.5 2.1-11.6 11.6-11.6h8.5v9.4h-6.2c-1 0-2.4.5-2.4 2.7v5.7h8.7l-1 9.8z">
                    </path>
                </svg></a><a href="https://twitter.com/BookMyShow/" class="app"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 98 98">
                    <path
                        d="M48 .5C21.8.5.5 21.8.5 48S21.8 95.5 48 95.5 95.5 74.2 95.5 48 74.2.5 48 .5zm21.2 36.6v1.4c0 14.4-11 31.1-31.1 31.1-6.2 0-11.9-1.8-16.8-4.9.9.1 1.7.2 2.6.2 5.1 0 9.8-1.7 13.6-4.7-4.8-.1-8.8-3.2-10.2-7.6.7.1 1.4.2 2.1.2 1 0 2-.1 2.9-.4-5-1-8.8-5.4-8.8-10.7v-.1c1.5.8 3.2 1.3 4.9 1.4-2.9-2-4.9-5.3-4.9-9.1 0-2 .5-3.9 1.5-5.5 5.4 6.6 13.4 11 22.5 11.4a10.93 10.93 0 0 1 10.6-13.4c3.1 0 6 1.3 8 3.5 2.5-.5 4.8-1.4 6.9-2.7-.8 2.6-2.6 4.7-4.8 6 2.2-.3 4.3-.8 6.3-1.7-1.3 2.2-3.2 4.1-5.3 5.6z">
                    </path>
                </svg></a><a href="https://www.instagram.com/bookmyshowin/" class="app"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 102 102">
                    <path
                        d="M50 59a8.96 8.96 0 0 0 7.3-14.2 8.9 8.9 0 0 0-14.6 0A8.96 8.96 0 0 0 50 59zm19.7-20v-8.7H61V39z">
                    </path>
                    <path
                        d="M50 5C25.2 5 5 25.2 5 50s20.2 45 45 45 45-20.2 45-45S74.8 5 50 5zm25.6 39.8v20.9c0 5.4-4.4 9.9-9.9 9.9H34.3c-5.4 0-9.9-4.4-9.9-9.9V34.3c0-5.4 4.4-9.9 9.9-9.9h31.4c5.4 0 9.9 4.4 9.9 9.9v10.5z">
                    </path>
                    <path
                        d="M64.1 50c0 7.7-6.2 14-14 14a13.98 13.98 0 0 1-13-19.2h-7.6v20.9c0 2.7 2.2 4.9 4.9 4.9h31.4c2.7 0 4.9-2.2 4.9-4.9V44.8H63c.7 1.5 1.1 3.4 1.1 5.2z">
                    </path>
                </svg></a><a href="https://www.youtube.com/user/BookMyShow/featured" class="app"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 102 102">
                    <path d="M43.6 57.7c5.3-2.7 10.5-5.4 15.7-8.2-5.3-2.8-10.5-5.5-15.7-8.2v16.4z"></path>
                    <path
                        d="M50 2.5C23.8 2.5 2.5 23.8 2.5 50S23.8 97.5 50 97.5 97.5 76.2 97.5 50 76.2 2.5 50 2.5zm23.9 59.2c-.6 2.6-2.8 4.6-5.4 4.9-6.1.7-12.4.7-18.5.7-6.2 0-12.4 0-18.5-.7-2.6-.3-4.7-2.2-5.4-4.9-.9-3.8-.9-7.8-.9-11.7s0-8 .9-11.7c.6-2.6 2.8-4.6 5.4-4.9 6.1-.7 12.4-.7 18.5-.7 6.2 0 12.4 0 18.5.7 2.6.3 4.7 2.2 5.4 4.9.9 3.8.9 7.8.9 11.7s0 8-.9 11.7z">
                    </path>
                </svg></a><a href="https://www.pinterest.com/bookmyshow/" class="app"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 102 102">
                    <path
                        d="M50 2.5C23.8 2.5 2.5 23.8 2.5 50S23.8 97.5 50 97.5 97.5 76.2 97.5 50 76.2 2.5 50 2.5zm4.9 58.1c-2.9 0-5.7-1.6-6.7-3.4l-1.9 7.5c-1.2 4.3-4.7 8.6-4.9 8.9-.2.2-.6.2-.7-.2-.1-.6-1-6 .1-10.4.5-2.2 3.5-14.9 3.5-14.9s-.9-1.7-.9-4.3c0-4 2.3-7.1 5.3-7.1 2.5 0 3.7 1.9 3.7 4.1 0 2.5-1.6 6.2-2.4 9.7-.7 2.9 1.4 5.3 4.3 5.3 5.2 0 8.6-6.6 8.6-14.5 0-6-4-10.5-11.3-10.5-8.3 0-13.4 6.2-13.4 13.1 0 2.4.7 4.1 1.8 5.3.5.6.6.8.4 1.5-.1.5-.4 1.7-.6 2.2-.2.7-.7.9-1.4.7-3.8-1.5-5.6-5.7-5.6-10.4 0-7.7 6.5-17 19.5-17 10.4 0 17.3 7.5 17.3 15.6 0 10.8-5.9 18.8-14.7 18.8z">
                    </path>
                </svg></a><a href="https://www.linkedin.com/company/bookmyshow/" class="app"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 102 102">
                    <path
                        d="M50 2.5C23.8 2.5 2.5 23.8 2.5 50S23.8 97.5 50 97.5 97.5 76.2 97.5 50 76.2 2.5 50 2.5zm-7.8 63.9h-8.6V36.3h8.6v30.1zm-4-32c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4zm34.1 32h-8.6V47.8c0-2.2-.6-3.7-3.3-3.7-4.4 0-5.3 3.7-5.3 3.7v18.6h-8.6V36.3h8.6v2.9c1.2-.9 4.3-2.9 8.6-2.9 2.8 0 8.6 1.7 8.6 11.7v18.4z">
                    </path>
                </svg></a></div>
        <div class="copy">Copyright 2022 © Bigtree Entertainment Pvt. Ltd. All Rights Reserved.<br>The
            content and images used on this site are copyright protected and copyrights vests with the respective
            owners. The usage of the content and images on this website is intended to promote the works and no
            endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</div>
    </div>
</div>