<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</head>

<body class="movie">
    <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1659684676985_bannerweb.jpg" alt="no image"
        class="raki">
    <div class="container">
        <div class="row">
            <div class="col-md-2" style="margin-left: -50px;border: 1px solid orange;">
                <div class="filt">filters</div>
                <div class="lan">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="arow"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                    </svg>
                    <div class="lang">Languages</div><a href="#" class="clear">Clear</a>
                    <ul class="tel">
                        <li><a href="#">Telugu </a></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Hindi</a></li>
                    </ul>
                    <ul class="mal">
                        <li><a href="#">Malayalam </a></li>
                        <li><a href="#">Kannada</a></li>
                        <li><a href="#">Tamil</a></li>
                    </ul>
                    <ul class="jap">
                        <li><a href="#">Japanese</a></li>
                    </ul>
                </div>
                <div class="gen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="arow"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                    </svg>
                    <div class="lang">Genres</div><a href="#" class="clear">Clear</a>
                    <ul class="tel">
                        <li><a href="#">Drama </a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Thriller</a></li>
                    </ul>
                    <ul class="mal">
                        <li><a href="#">Advanture </a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Fantacy</a></li>
                    </ul>
                    <ul class="jap">
                        <li><a href="#">Japanese</a></li>
                    </ul>
                </div>
                <div class="for">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="arow"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                    </svg>
                    <div class="lang">Format</div><a href="#" class="clear">Clear</a>
                    <ul class="vew">
                        <li><a href="#">2D</a></li>
                        <li><a href="#">3D</a></li>
                        <li><a href="#">4DX</a></li>
                        <li><a href="#">4DX3D</a></li>
                    </ul>
                </div>
                <div class="brow">
                    <div class="by">Browse by Cinemas</div>
                </div>
            </div>
            <div class="col-md-10" style="margin-left: 50px;border: 1px solid red;">
                <div class="hyd">movies in hyderabad</div>
                <ul class="bash">
                    <li><a href="#">English</a></li>
                    <li><a href="#">Telugu</a></li>
                    <li><a href="#">Hindi</a></li>
                    <li><a href="#">Malayalam</a></li>
                    <li><a href="#">Kannada</a></li>
                    <li><a href="#">Japanese</a></li>
                    <li><a href="#">Tamil</a></li>
                </ul>
                <img src="https://assets-in.bmscdn.com/discovery-catalog/collections/tr:w-1440,h-120:q-80/coming-soon-web-collection-202012090733.png"
                    class="coming">
                <div class="row">
                    <div class="cd" *ngFor="let cd of cards" style="border: 2px solid green;">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:340px;"></a>
                        <div class="hr">{{cd.title}}</div>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                    <div class="cd" *ngFor="let cd of cards1">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:320px;"></a>
                        <h4 class="hr">{{cd.title}}</h4>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                    <div class="cd" *ngFor="let cd of cards2">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:320px;"></a>
                        <h4 class="hr">{{cd.title}}</h4>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                    <div class="cd" *ngFor="let cd of cards3">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:320px;"></a>
                        <h4 class="hr">{{cd.title}}</h4>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                    <div class="cd" *ngFor="let cd of cards4">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:320px;"></a>
                        <h4 class="hr">{{cd.title}}</h4>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                    <div class="cd" *ngFor="let cd of cards5">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:320px;"></a>
                        <h4 class="hr">{{cd.title}}</h4>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                    <div class="cd" *ngFor="let cd of cards6">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:320px;"></a>
                        <h4 class="hr">{{cd.title}}</h4>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                    <div class="cd" *ngFor="let cd of cards7">
                        <a href="#"> <img src="{{cd.image}}" class="image" style="width: 200px; height:320px;"></a>
                        <h4 class="hr">{{cd.title}}</h4>
                        <p class="pr">{{cd.certificate}}</p>
                        <p class="pr1">{{cd.Languages}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home">
        <a href="/header/home" class="hom">Home</a>
        <div class="ban">→</div><a href="/header/movies" class="mov">Movies</a>
    </div>
    <div class="footr">
        <div class="contents">
            <h5 class="eh5">{{header}}</h5>
            <p class="pfoot">{{para}}</p>
            <h5 class="lueth5">{{header1}}</h5>
            <p class="pfoot">{{para1}}</p>
            <h5 class="lueth5">{{header2}}</h5>
            <p class="pfoot">{{para2}}</p>
            <h5 class="lueth5">{{header3}}</h5>
            <p class="pfoot">{{para3}}</p>
            <h5 class="lueth5">{{header4}}</h5>
            <p class="pfoot">{{para4}}</p>
            <p class="pfoot1">{{para5}}</p>
        </div>
    </div>
</body>

</html>