.hall {
    width: 100%;
    height: 489px;
    background-image: url("https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlYXRyZSUyMGF1ZGllbmNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.46)), url(//assets-in.bmscdn.com/webin/corporate/corp-banner-bg.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: 0px;
    background-color: transparent;
}

h2 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-left: 60px;

}

.varty {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;

}

.p {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: -20px;
}

.can {
    width: 620px;
    height: 280px;
    /* background-color: orange; */
    float: right;
    margin-top: 80px;
    margin-right: 735px;
}

.wa {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
    margin-left: 80px;
    margin-top: px;
    cursor: pointer;
}

.do {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
    margin-left: 320px;
    margin-top: -48px;
    cursor: pointer;
}

.icon {
    width: 20px;
    margin-right: 10px;
    margin-top: -5px;
}

.icon1 {
    width: 13px;
    margin-right: 10px;
    margin-top: -4px;
}

.box {
    width: 380px;
    height: 430px;
    background-color: #fff;
    margin-left: 680px;
    margin-top: -330px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
}

.form-group {
    margin-top: 10px;
}

label {
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}


.star {
    color: rgb(174, 30, 49);
    cursor: pointer;
}

.corp {
    background-color: rgb(245, 245, 245);
}

.part {
    width: 1220px;
    height: 220px;
    background-color: #fff;
    margin-left: 40px;
    margin-top: -14px;
}

.img1 {
    margin-left: 100px;
    margin-top: 120px;
}

.img2 {
    margin-left: 470px;
    margin-top: -95px;
}

.img3 {
    margin-left: 70px;
    margin-top: -95px;
}

.img4 {
    margin-left: 90px;
    margin-top: -95px;
}

.adj {
    width: 150px;
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 520px;
    /* background-color: orange; */
}

.ner {
    /* text-align: center; */
    color: rgb(51, 51, 51);
    font-size: 100%;

}

.hp {
    width: 225px;
    height: 230px;
    /* background-color: red; */
    margin-left: 52px;
}

.ola {
    width: 225px;
    height: 230px;
    /* background-color: red; */
    margin-left: 2px;
}

.axis {
    width: 250px;
    height: 230px;
    /* background-color: red; */
    margin-left: 2px;
}

.axis1 {
    width: 125px;
    height: 125px;
    /* background-color: orange; */
    margin-left: 40px;
    margin-top: 15px;
}

.mast {
    width: 255px;
    height: 230px;
    /* background-color: red; */
    margin-left: 2px;
}

.mast1 {
    width: 125px;
    height: 125px;
    /* background-color: orange; */
    margin-left: 55px;
    margin-top: 15px;
}

.icic {
    width: 258px;
    height: 230px;
    /* background-color: red; */
    margin-left: 2px;
}

.icic1 {
    width: 110px;
    height: 125px;
    /* background-color: orange; */
    margin-left: 55px;
    margin-top: 15px;
}

.subcrip {
    /* text-align: center; */
    margin-top: 80px;
    font-size: 24px;
    color: rgb(51, 51, 51);
    margin-left: 70px;
}
.subcriptn {
    margin-top: 80px;
    font-size: 24px;
    color: rgb(51, 51, 51);
    margin-left: 50px;
}
.para {
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 15px;
}
.para1 {
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: -5px;
}


.paras {
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 1px;
}

.brand {
    width: 1220px;
    height: 500px;
    background-color: #fff;
    margin-left: 40px;
}

.promo {
    width: 610px;
    height: 500px;
    /* background-color: red; */
}

.chilo {
    width: 610px;
    height: 500px;
    /* background-color: orange; */
    float: right;
    margin-top: -500px;
}

.whts {
    color: rgb(51, 51, 51);
    float: right;
    margin-top: 90px;
    margin-right: 396px;
    font-weight: 500;
}

.h1 {
    margin-left: 45px;
    font-size: 34px;

}

.gift {
    color: rgb(51, 51, 51);
    /* float: right;
    margin-top: 90px;
    margin-right: 410px; */
    margin-left: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 32px;
}

.gift1 {
    width: 520px;
    height: 140px;
    /* background-color: orange; */
    margin-left: 45px;
    margin-top: 20px;
}

.but {
    margin-top: 45px;
    border: 1px solid rgb(235, 78, 98);
    margin-left: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(235, 78, 98);
    font-weight: 500;
    border-radius: 4px;
    background-color: #fff;
}

.emp {
    width: 1220px;
    height: 500px;
    background-color: #fff;
    margin-left: 40px;
    margin-top: 0px;
}

.handlo {
    width: 610px;
    height: 500px;
    background-color: red;
}

.eng {
    width: 610px;
    height: 500px;
    /* background-color: orange; */
    float: right;
    margin-top: -500px;
}

.subh {
    width: 380px;
    height: 110px;
    /* background-color: #fff; */
    margin-left: 50px;
    margin-top: 120px;
}

.sh1 {
    font-size: 34px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.sh2 {
    font-size: 34px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    margin-top: 145px;
}

.sh3 {
    font-size: 34px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    margin-top: -25px;
    margin-left: -10px;
}

.your {
    width: 540px;
    height: 80px;
    /* background-color: red; */
    margin-left: 25px;
}

.clien {
    color: rgb(51, 51, 51);
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
}

.clien1 {
    color: rgb(45, 45, 45);
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
    margin-top: -50px;
}

.your2 {
    width: 550px;
    height: 80px;
    /* background-color: red; */
    margin-left: 25px;

}

.stanup {
    color: rgb(45, 45, 45);
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
}


.but1 {
    margin-top: 20px;
    border: 1px solid rgb(235, 78, 98);
    margin-left: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(235, 78, 98);
    font-weight: 550;
    border-radius: 4px;
    background-color: #fff;
}

.but2 {
    margin-top: 10px;
    border: 1px solid rgb(235, 78, 98);
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(235, 78, 98);
    font-weight: 550;
    border-radius: 4px;
    background-color: #fff;
}

.but3 {
    margin-top: 110px;
    border: 1px solid rgb(235, 78, 98);
    margin-left: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(235, 78, 98);
    font-weight: 550;
    font-size: 15px;
    border-radius: 4px;
    background-color: #fff;
}

.mid {
    width: 1220px;
    height: 5px;
    background-color: rgb(128, 128, 128);
    margin-left: 40px;
}

.mid1 {
    width: 1220px;
    height: 10px;
    /* background-color: rgb(128, 128, 128); */
    margin-left: 40px;
}

.lead {
    width: 1220px;
    height: 480px;
    background-color: #fff;
    margin-left: 40px;
    margin-top: 0px;
}

.genr {
    width: 610px;
    height: 500px;
    /* background-color: orange; */
}

.note {
    width: 610px;
    height: 500px;
    /* background-color: red; */
    float: right;
    margin-top: -500px;
}

.genr1 {
    width: 300px;
    height: 50px;
    /* background-color: #fff; */
    float: right;
    margin-top: 145px;
    margin-right: 255px;
}

.exist {
    width: 500px;
    height: 80px;
    /* background-color: blue; */
    float: right;
    margin-right: 80px;
    margin-top: 10px;
}

.posi {
    color: rgb(51, 51, 51);
    margin-left: 25px;
    font-size: 18px;
    font-weight: 400;
}

.leads {
    margin-top: 8px;
    border: 1px solid rgb(235, 78, 98);
    margin-left: 58px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(235, 78, 98);
    font-weight: 550;
    font-size: 85%;
    border-radius: 4px;
    background-color: #fff;
}

.suit {
    width: 1220px;
    height: 460px;
    background-color: #fff;
    margin-left: 40px;
    margin-top: 0px;
}

.solns {
    width: 1220;
    height: 58px;
    /* background-color: red; */
}

.ions {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    color: rgb(51, 51, 51);
    padding: 26px 0px 12px 40px;
    font-family: Roboto, sans-serif;
}

.end {
    width: 406.6px;
    height: 378px;
    /* background-color: rgb(53, 254, 120); */
    background-image: url("https://assets-in.bmscdn.com/webin/corporate/green.jpg");
}

.email {
    width: 406.6px;
    height: 378px;
    /* background-color: rgb(255, 69, 69); */
    background-image: url("https://assets-in.bmscdn.com/webin/corporate/red.jpg");
}

.sms {
    width: 406.6px;
    height: 378px;
    /* background-color: rgb(249, 234, 20); */
    background-image: url("https://assets-in.bmscdn.com/webin/corporate/yellow.jpg");
}

.creat {
    font-size: 34px;
    font-weight: 500;
    /* font-family: Roboto,sans-serif; */
    line-height: 46px;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 150px;
}

.priory {
    width: 1220px;
    height: 125px;
    background-color: #fff;
    margin-left: 40px;
    margin-top: 0px;
}

.frm {
    font-size: 18px;
    float: right;
    margin-top: 45px;
    margin-right: 650px;
    font-family: Roboto, sans-serif;
}

.acess {
    margin-top: 8px;
    border: 1px solid rgb(235, 78, 98);
    float: right;
    margin-right: 48px;
    margin-top: -35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgb(235, 78, 98);
}

.campns {
    width: 1220px;
    height: 430px;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-top: 0px;
}

.of {
    width: 1220;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
}

.ofpr {
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    float: right;
    margin-top: 30px;
    margin-right: 940px;
}

.clips {
    width: 1220px;
    height: 314px;
    /* background-color: rgb(120, 95, 49); */
    margin-left: 0px;
    margin-top: 0px;
}

.clip {
    margin-left: 50px;
}

.clip1 {
    margin-left: 50px;
}

.cli {
    width: 80px;
}

.vouch {
    width: 1220px;
    height: 584px;
    background-color: orange;
    margin-left: 40px;
}

.duct {
    width: 1220px;
    height: 58px;
    background-color: #fff;
}

.cts {
    font-weight: 500;
    float: right;
    margin-top: 12px;
    margin-right: 1050px;
}

.moviee {
    width: 610px;
    height: 526px;
    /* background-color: #fff; */
    background-image: url(https://in.bmscdn.com/webin/corporate/movie-voucher.png);
}

.mvhdr {
    font-size: 34px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    float: right;
    margin-top: 68px;
    margin-right: 250px;
}

.high {
    width: 320px;
    height: 220px;
    /* background-color: orange; */
    float: right;
    margin-right: 175px;
    margin-top: 18px;
}

.highly {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.enqu {
    width: 280px;
    height: 100px;
    /* background-color: orange; */
    float: right;
    margin-right: 295px;
    margin-top: 20px;
}

.enqry {
    margin-top: 42px;
    margin-left: 80px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: rgb(235, 78, 98);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.giftt {
    width: 610px;
    height: 526px;
    /* background-color: #f5ff; */
    background-image: url(https://in.bmscdn.com/webin/corporate/gift-voucher.png);
    float: right;
    margin-top: -526px;
}

.gfhdr {
    font-size: 34px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    float: right;
    margin-top: 68px;
    margin-right: 285px;
}

.amaz {
    width: 340px;
    height: 220px;
    /* background-color: orange; */
    float: right;
    margin-right: 154px;
    margin-top: 14px;
}

.amazng {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.enqu1 {
    width: 280px;
    height: 100px;
    /* background-color: orange; */
    float: right;
    margin-right: 295px;
    margin-top: -7px;
}

.cheez {
    width: 1220px;
    height: 286px;
    background-image: url("https://assets-in.bmscdn.com/webin/corporate/bulk-booking.png");
    margin-left: 40px;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.56)), url(//assets-in.bmscdn.com/webin/corporate/bulk-booking.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: 0px;
    background-color: transparent;
}

.bulk {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 50px;
}

.exiv {
    width: 580px;
    height: 120px;
    /* background-color: orange; */
    margin-top: 110px;
    margin-left: -122px;
}

.exlv {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 500;
}

.ebtnc {
    width: 500px;
    height: 80px;
    /* background-color: #fff; */
    margin-top: 90px;
    margin-left: 40px;
}

.won {
    margin-top: 25px;
    margin-left: 165px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 78, 98);
    background-color: rgb(235, 78, 98);
    border-radius: 4px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom: 10px
}

.moni {
    float: right;
    margin-right: 590px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: 1px;
    padding: 20px 0px;
}

.testii {
    width: 1220px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-top: 73px;
    border-radius: 4px;
}

.hplogo {
    width: 375px;
    height: 230px;
    background-color: #fff;
}

.hpig {
    margin-top: 70px;
    margin-left: 140px;
}

.btwn {
    width: 2px;
    height: 218px;
    border: 1px solid rgb(229, 229, 229);
    float: left;
    margin-left: 350px;
    margin-top: -224px;
}

.asso {
    width: 845px;
    height: 230px;
    float: right;
    margin-top: -230px;
    /* background-color: #ff5; */
}

.assopr {
    font-size: 13px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    font-family: Roboto, sans-serif;
    padding: 10px;
    margin-top: 20px;
}

.loyd {
    width: 380px;
    height: 80px;
    /* background-color: orange; */
    margin-left: 10px;
    margin-top: 15px;
}

.mathis {
    font-size: 18px;
    font-weight: 400;
}

.pwus {
    font-size: 18px;
    font-weight: 500;
    color: rgb(235, 78, 98);
    border: 1px solid rgb(235, 78, 98);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    margin-top: 20px;
    margin-right: 510px;
}

.quest {
    width: 1220px;
    height: 728px;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-top: 120px;
}

.frqny {
    font-size: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
    margin-top: 70px;
    margin-right: 840px;
}

.gnqs {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    float: right;
    margin-top: 20px;
    margin-right: 1025px;

}

.how {
    list-style: none;
    margin-top: 15px;
    float: right;
    margin-right: 700px;

}

.how li {
    margin-top: 15px;

}

.how li a {
    text-decoration: none;
    font-size: 12px;
    color: #333;

}

.md {
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 450px;
    margin-top: 15px;
}

.lgqs {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    float: right;
    margin-top: -500px;
    margin-right: 525px;
}

.will {
    list-style: none;
    margin-top: -456px;
    float: right;
    margin-right: 202px;

}

.will li {
    margin-top: 15px;

}

.will li a {
    text-decoration: none;
    font-size: 12px;
    color: #333;

}

.pmqs {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    float: right;
    margin-top: -190px;
    margin-right: 515px;
}

.whre {
    list-style: none;
    margin-top: -150px;
    float: right;
    margin-right: 200px;

}

.whre li {
    margin-top: 15px;

}

.whre li a {
    text-decoration: none;
    font-size: 12px;
    color: #333;

}

.otcv {
    width: 100%;
    height: 40px;
    /* background-color: orange; */
}

.onts {
    text-decoration: none;
    color: rgb(102, 102, 102);
    padding: 0px;
    margin: 0px;
    width: auto;
    opacity: 1;
    flex: 0 0 auto;
    font-size: 11px;
    font-weight: 480;
    float: right;
    margin-top: 30px;
    margin-right: 1120px;
}

.rate {
    text-decoration: none;
    color: rgb(102, 102, 102);
    padding: 0px;
    margin: 0px;
    width: auto;
    opacity: 1;
    flex: 0 0 auto;
    font-size: 11px;
    font-weight: 480;
    float: right;
    margin-top: -16px;
    margin-right: 1005px;
}

.bow {
    color: rgb(88, 88, 88);
    margin-top: -42px;
    margin-left: 180px;
}

.feeno {
    width: 100%;
    height: 80px;
    background-color: rgb(242, 242, 242);
    margin-top: 25px;
}

.vacy {
    font-size: 12px;
    color: rgb(127, 127, 127);
    font-weight: 500;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    float: left;
    margin-top: 10px;
    margin-left: 155px;
}

.byuse {
    font-size: 12px;
    color: rgb(127, 127, 127);
    font-weight: 400;
    letter-spacing: 0.1px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: 90px;
    float: left;
    margin-left: 65px;
}

.spn {
    color: rgb(220, 53, 88);
    cursor: pointer;
}



.bottom {
    width: 100%;
    height: 350px;
    background-color: rgb(49, 48, 53);
}

p {
    font-size: 12.5px;
    color: rgb(127, 127, 127);
    font-display: inherit;
    margin-top: 20px;
}

h4 {
    color: rgb(127, 127, 127);
    margin-left: 25px;
}

.bottom .hd {
    width: 100%;
    height: 110px;
    background-color: rgb(64, 64, 67);
    margin-top: 30px;
}

.img {
    margin-left: 155px;
    width: 32px;
    height: 32px;
    margin-top: 25px;
}

.up h6 {
    margin-left: 200px;
    margin-top: -25px;
    color: white;
    font-weight: bolder;
    font-size: 100%;
}

.up h5 {
    margin-top: -26px;
    font-size: 100%;
    font-weight: 500;
    vertical-align: initial;
    margin-left: 328px;
    color: white;
}

.up p {
    float: right;
    margin-right: 140px;
    margin-top: -40px;
    font-size: 15px;
    background-color: rgb(236, 94, 113);
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.car {
    color: rgba(188, 192, 196, 0.74);
    text-decoration: none;
    font-size: 11px;
    margin-left: 285px;
    margin-top: 14px;
    cursor: pointer;
}

.car:hover {
    color: white;
}

.cust {
    color: rgb(153, 153, 153);
    margin-left: 310px;
    margin-top: 14px;
}

.mysh {
    text-align: center;
    margin-top: 70px;
    margin-left: 20px;
}

.online {
    list-style: none;
    margin-top: 18px;
}

.online li {
    margin-top: -2px;
    margin-left: -32px;
    font-size: 13px;
    font-weight: 400;

}

.online li a {
    text-decoration: none;
    color: rgb(220, 53, 88);
}

.fb {
    margin-left: 600px;
    margin-top: 40px;
}

.book {
    color: rgba(188, 192, 196, 0.74);
    text-decoration: none;
    font-size: 11px;
    margin-left: 675px;
    cursor: pointer;
    margin-top: -15px;
}

.book:hover {
    color: white;
}

.ticket {
    color: rgb(153, 153, 153);
    margin-left: 732px;
    margin-top: -80px;
}

.sub {
    color: rgba(188, 192, 196, 0.74);
    text-decoration: none;
    font-size: 11px;
    float: right;
    margin-right: 275px;
    cursor: pointer;
    margin-top: -20px;
}

.sub:hover {
    color: white;
}

.letter {
    color: rgb(153, 153, 153);
    margin-top: -80px;
}

.col-md-3 {
    float: right;
}

.omtb {
    width: 1220px;
    height: 50px;
    /* background-color: #fff; */
    margin-left: 115px;
}

.min {
    list-style: none;
    margin-top: 15px;

}
.min li a {
    text-decoration: none;
    color: rgb(127, 127, 127);
    font-size: 11px;
    letter-spacing: 0.1px;
    line-height: 19px;
    padding: 0px 0px 5px;
}
.min li :hover {
    color: white;
}

.appfoo {
    width: 100%;
    height: 100%;
    margin-top: -25px;
    background-color: rgb(51, 51, 56);
}